/* Forest Background */
body {
  background-image: url("../images/forest.jpeg");
  color: #381800;
}

/* Top Background */
.topback {
  border-width: 5px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 100px;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 10px;
  padding-right: 3%;
  padding-bottom: 5px;
  padding-left: 3%;
  background: rgb(224, 238, 231);
  /* background: rgba(178, 211, 194, 1); */
  background-origin: padding-box;
  background-position: center;
}

/* Toggles */
.toggle {
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toggle:hover {
  color: #515151;
}

.toggle::before {
  content: "► ";
  font-size: 0.3cm;
}

/* Theory */
.theory::before {
  content: "🌱 Theory 🌱";
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}

/* Walkthroughs */
.walkthrough::before {
  content: "🌿 Examples 🌿";
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}

/* Problems */
.problems::before {
  content: "🌲 Problems 🌲";
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}

/* Definition Box */
.definition {
  border-radius: 10px;
  border: 2.5px solid #381800;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-image: linear-gradient(to right, #c3e7c3, #8fbc8f);
  margin-top: 10px;
  margin-bottom: 10px;
}

.defname::before {
  content: "Definition - ";
  font-weight: bold;
  font-size: 0.5cm;
}

.defname {
  font-weight: bold;
  font-size: 0.5cm;
}

/* Example Box */
.example {
  border-radius: 10px;
  border: 2.5px solid #381800;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-image: linear-gradient(to right, #e1efe7, #99c7d4);
  margin-top: 10px;
  margin-bottom: 10px;
}

.exmname::before {
  content: "Example - ";
  font-weight: bold;
  font-size: 0.5cm;
}

.exmname {
  font-weight: bold;
  font-size: 0.5cm;
}

/* Theorem Box */

.theorem {
  border-radius: 10px;
  border: 2.5px solid #381800;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-image: linear-gradient(to right, #ebe7d5, #a3853e);
  margin-top: 10px;
  margin-bottom: 10px;
}

.thmname::before {
  content: "Theorem - ";
  font-weight: bold;
  font-size: 0.5cm;
}

.thmname {
  font-weight: bold;
  font-size: 0.5cm;
}

/* Points */
.pts::before {
  content: "[🍀";
  display: inline-block;
}

.pts::after {
  content: "pts]";
  display: inline-block;
}

.pts {
  color: green;
  font-weight: bold;
}
