body {
  font-family: Times New Roman;
  margin: 0;
  background-image: url("https://images.pexels.com/photos/2098427/pexels-photo-2098427.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: repeat-y;
  color: #a5f2f3;
}

.questions {
  font-family: Marker felt;
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 0.25em;
  padding-left: 10%;
  padding-right: 10%;
}

.answers {
  padding-left: 10%;
  padding-right: 10%;
}
