.topback {
  border-width: 3px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 10px;
  padding-right: 3%;
  padding-bottom: 5px;
  padding-left: 3%;
  background: #141828;
  background-origin: padding-box;
  background-position: center;
}

body {
  font-family: Times New Roman;
  background-image: url("https://images.pexels.com/photos/2098427/pexels-photo-2098427.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: repeat-y;
  color: #a5f2f3;
}

.margin {
  margin-left: 5%;
  margin-right: 5%;
  font-style: italic;
}

.topback a {
  color: #9388fa;
}
