#image {
  background-image: url("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4a9d6be2-2863-4254-a5a3-2cf015817db7%2FCopy_of_Geometry_Glade.png?table=block&id=218f0e10-3917-4056-a538-77ef18cb9648&width=3840&userId=080f3c2e-23a6-4063-8497-fe81709d7fcb&cache=v2");
  background-size: 100% auto;
  margin-left: 5%;
  margin-right: 5%;
}

/* Buttons */
.btngeo {
  padding-left: 17.5%;
  padding-right: 17.5%;
  padding-top: 4.5%;
  padding-bottom: 4.5%;
  font-family: Marker Felt;
  font-size: 300%;
  background-color: rgba(255, 255, 255, 0);
}

.btn {
  border: 1px solid #a5f2f3;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 22.5%;
  padding-right: 22.5%;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
  color: #a5f2f3;
  font-family: Marker Felt;
  font-weight: bold;
}

/* On mouse-over */
.btn:hover {
  background: rgb(0, 0, 0);
}

a {
  color: #a5f2f3;
  text-decoration: none;
}
